// ===== IMPORTS =====
@use "./reset" as *;
@use "./variables" as *;
@use "./mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

// ===== GLOBAL STYLES =====

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-inter;
  line-height: 1.5;
  background-color: $color-bg-dark;
  padding-inline: clamp(0rem, 8vw, 15rem);
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: $font-family-montserrat;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: $font-family-montserrat;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: $font-family-montserrat;
}

:root {
  --color-bg-card-dark: #{$--color-bg-card-dark};
  --color-bg-card-dark-hover: #{$--color-bg-card-dark-hover};
  --color-bg-dark: #{$--color-bg-dark};
  --color-light: #{$--color-light};
  --color-text-dark: #{$--color-text-dark};
  --color-icon-dark: #{$--color-icon-dark};
  --color-primary: #{$--color-primary};
  --color-primary-hover: #{$--color-primary-hover};
  --color-primary-light: #{$--color-primary-light};
  --color-secondary: #{$--color-secondary};
  --color-disabled: #{$--color-disabled};
}
