@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: start;
  gap: $spacing-lg;
}

.sectionTitle {
  margin: $spacing-lg 0 $spacing-md;
  padding: 0 $spacing-lg;
  color: $color-light;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: $font-family-montserrat;
  width: 100%;
  text-align: left;
}
