@use "../../styles/variables" as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-primary-hover;
  border-radius: $border-radius-md;
  color: $color-light;
  padding: $spacing-md;
  @media screen and (min-width: $tablet) {
    padding: $spacing-xl calc($spacing-xl * 2);
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $spacing-sm;
  max-width: 551px;
  height: 100%;
}

.buttons {
  display: flex;

  gap: $spacing-md;
  margin-top: $spacing-xxl;
  font-size: $font-size-sm;
}

.gameYear {
  font-family: var(--font-montserrat), sans-serif;
  font-size: $font-size-xs;
  font-weight: bold;
  margin-top: $spacing-xl;
}

.heroTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: $font-size-xl;
  font-weight: bold;
}

.heroDesc {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  font-family: var(--font-inter), sans-serif;
  font-size: $font-size-xs;
  font-weight: 400;
  color: $color-disabled;
}

.carouselContainer {
  display: none;
  margin-top: $spacing-lg;
  position: relative;
  @media screen and (min-width: $tablet) {
    display: block;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacing-xl;
  }

  :global(.splide) {
    max-width: 400px;
  }

  :global(.splide__pagination) {
    bottom: 0;
    pointer-events: none;
  }

  :global(.splide__pagination__page) {
    background: $color-icon-dark;
    opacity: 0.6;
    transition: all 0.2s ease;
    pointer-events: auto;
  }

  :global(.splide__pagination__page.is-active) {
    background: $color-primary !important;
    opacity: 1;
    transform: scale(1.4);
  }

  :global(.splide__arrows) {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    pointer-events: none;
  }

  :global(.splide__arrow) {
    position: static;
    transform: none;
    background: transparent;
    opacity: 1;
    height: 24px;
    width: 24px;
    pointer-events: auto;
  }

  :global(.splide__arrow svg) {
    fill: $color-light;
  }
}
